.transaction-history {
	width: 100%;
	border-collapse: collapse; /* Злиття границь таблиці */
}

.transaction-history th,
.transaction-history td {
	padding: 12px; /* Відступи для комірок */
	text-align: left; /* Вирівнювання тексту по лівому краю */
	border-bottom: 1px solid #dddddd; /* Горизонтальні розділяючі лінії */
}

.transaction-history th {
	background-color: #f3f3f3; /* Фон для заголовків */
}

.transaction-history tr:hover {
	background-color: #f1f1f1; /* Фон при наведенні курсора */
}
